body {
    background-color: white;
}
p{
    color: rgb(12, 12, 12);
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: rgb(110, 110, 110);
    font-variant: comicsans;
}
input{
    background-color: rgb(150, 160, 170);
}
textarea{
    background-color: rgb(150, 160, 170);
    font-variant: comicsans;
}